    .icon {
      background-image: url('../../assets/images/sprites/sprite-d5dff85c.svg');
    }
  .icon--clear-view-escapes {
    width: 142.4px;
    height: 59.53px;
    background-position: 77.57789913266944% 68.3446523181185%;
  }
  .icon--comment {
    width: 64px;
    height: 64px;
    background-position: 0 100%;
  }
  .icon--facebook {
    width: 21.23px;
    height: 42.01px;
    background-position: 99.65177406994098% 66.66760038656004%;
  }
  .icon--fire {
    width: 56px;
    height: 64px;
    background-position: 91.11424541607899% 77.38872832369943%;
  }
  .icon--free {
    width: 483px;
    height: 216px;
    background-position: 0 88.14814814814815%;
  }
  .icon--globe {
    width: 64px;
    height: 64px;
    background-position: 9.12981455064194% 100%;
  }
  .icon--instagram {
    width: 42.01px;
    height: 42.01px;
    background-position: 66.80590326283904% 89.29116654294877%;
  }
  .icon--logo {
    width: 99px;
    height: 102px;
    background-position: 72.52252252252252% 81.88532110091744%;
  }
  .icon--mail {
    width: 64px;
    height: 48px;
    background-position: 89.21540656205421% 67.2316384180791%;
  }
  .icon--rain {
    width: 64px;
    height: 64px;
    background-position: 83.02425106990015% 77.38872832369943%;
  }
  .icon--star {
    width: 64px;
    height: 64px;
    background-position: 18.25962910128388% 100%;
  }
  .icon--twitter {
    width: 51.78px;
    height: 42.06px;
    background-position: 96.66021704382939% 66.67226937837913%;
  }
  .icon--van {
    width: 765px;
    height: 476px;
    background-position: 0 0;
  }
  .icon--wifi {
    width: 60px;
    height: 64px;
    background-position: 99.57446808510639% 77.38872832369943%;
  }
  .icon--youtube {
    width: 34.75px;
    height: 42px;
    background-position: 71.89455665867854% 89.28991596638656%;
  }
